body {
    background-color: #000;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

#screen canvas {
    margin: auto;

    /* Hide the gap for font descenders. */
    display: block;
}

.name {
    position: absolute;
    top: 70%;
    left: 42.5%;
    width: 15%;
    visibility:hidden;
}

input {
    border: 0px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2),
                      0 0 4px rgba(0, 0, 0, .2);
    color: #ccc;
    background: #444;
    outline: none;
}
